<form {{action "add" on='submit'}}>
  <div>
    <label>First Name</label> {{input type="text" value=model.firstName}}
  </div>

  <div>
    <label>Last Name</label> {{input type="text" value=model.lastName}}
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
